section{
    height: 700px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color:rgb(234, 16, 89) ;
    font-size: 35px;
}
p{
    color: rgb(78, 47, 255);
    font-size: 20px;
    
}

.section-h1{
    background-image: url("pics/header-bg.png");
    background-repeat: no-repeat;
}
.section-bio{
    background-image: url("pics/biography-bg.png");
    background-repeat: no-repeat;

}
.section-latest-work{
    background-image: url("pics/latest-work-bg.png");
    background-repeat: no-repeat;
}
.section-fotter{
    background-image: url("pics/footer-bg.png");
    background-repeat: no-repeat;
}

.half-width{
    float: left;
    width: 30%;
    margin-top: 5%;
    margin-left: 15%;
    padding: 10px;

}
.half-width img{
    width: 100%;
}
.half-width1{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-left: 3%;
    gap: 12px;
   

}
.half-width1 img{
    width: 100%;
    height: auto;
}

.btn{
    border: 1px solid;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    background-image: linear-gradient(30deg, rgb(236, 25, 232), rgb(237, 15, 85));
    color: aliceblue;
}
/*--} --*/


.client-header{
    text-align: center;
}
.client-name{
    text-align: center;
    font-size: 16px;
}
.client-post{
    text-align: center;
    color: gray;
}
.client-details{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    justify-content: center;
}

#pf{
    color:rgb(97, 94, 94);
    font-size: 15px;
    font-family: arial;
    justify-content:flex-end;
}
.half-width-fotter{
    
    margin-top: 20px;
 }
.half-width-fotter-2{
   justify-content: center;
   text-align: center;
   margin-top: 25%;
}

.section-fotter{
    height: 700px;
    font-family: Arial, sans-serif;
}
.leave{
    text-align: center;
    border: 1px solid;
    text-decoration: none;
    width:200px;
    margin-left: 40% ;
    margin-top: 2%;
   
    padding: 13px;
    box-sizing: 10px;
    background-color: palevioletred;
    border-radius: 4px;
    justify-content: center;
}
.btn-fotter-message{
    text-decoration: none;
    font-size: 10px;
    color:rgb(241, 232, 232);

}
.btn-fotter-email{
    text-decoration: none;
    color:aliceblue;
    font-size:15px;

}


